# .gitignore
# *** HOUSEKEEPING! Ignorance is bliss ***
# Master File: Maintained by Primitive Digital's Housekeeping Department
# https://primitivedigital.uk/housekeeping-department/

# Folders
exclude/
